@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: whitesmoke;
}
i:hover{
    color: magenta;
    box-shadow: 5px 5px 60px rgb(255, 0, 255, 1);
}
li{
    margin-top: 18px;
    margin-bottom: 18px;
}
ul{
    
     margin-top: 5px;
}

.update:hover{
    color: magenta;
    box-shadow: 5px 5px 60px rgb(255, 0, 255, 1);
}
.delete{

}
